/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

/*home page*/

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin: 0 auto;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.navbar {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    float: none;
}

.navbar-collapse.collapse {
    background-color: gainsboro;
    margin: 0 auto;
}

.nav > li > a {
    padding: 10px;
}

.logo {
    float: right;
    width: 100%;
    background-color: gainsboro;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.clear {
    clear: both;
}

footer {
    height: 100px;
    background-color: gainsboro;
    margin-top: 20px;
}

html, body, .container {
    width: 100%;
    padding: 0;

    background: -moz-linear-gradient(-45deg, rgb(210, 255, 82) 0%, rgb(145, 232, 66) 100%);
    /*background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(210,255,82)), color-stop(100%, rgb(145,232,66)));*/
    background: -webkit-linear-gradient(-45deg, rgb(210, 255, 82) 0%, rgb(145, 232, 66) 100%);
    background: -o-linear-gradient(-45deg, rgb(210, 255, 82) 0%, rgb(145, 232, 66) 100%);
    background: -ms-linear-gradient(-45deg, rgb(210, 255, 82) 0%, rgb(145, 232, 66) 100%);
    background: linear-gradient(135deg, rgb(210, 255, 82) 0%, rgb(145, 232, 66) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1);
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
}

/*apartments page*/

.form {
    max-width: 100%;
    min-width: 25%;
    border-width: 2px;
    border-color: #CCCCCC;
    border-radius: 4px;
    border-style: solid;
    color: #222222;
    font-size: 14px;
    margin: 0;
    background-color: #FFFFFF;
    padding: 20px;
}

.content {
    margin: 0;
}

.form label {
    color: #222222;
    font-size: 14px;
    display: block;
}

.form input[type=radio], input[type=checkbox] {
    margin: 10px;
    width: 13px;
}

.form div {
    display: block;
}

.form input, form textarea, form select {
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
    border-radius: 0;
    padding: 3px;
}

.form h1 {
    font-size: 40px;
    color: #607A75;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border-bottom-style: dotted;
    border-bottom-color: #CCCCCC;
    border-bottom-width: 2px;
    border-radius: 0;
    background-color: #FFFFFF;
}

.intro {
    margin-bottom: 10px;
}

.clear {
    clear: both;
}

.form textarea {
    height: 50px;
    width: 100%;
}

.form input[type=submit] {
    width: 100%;
    background-color: #CCCCCC;
    color: #222222;
}

.field {
    margin-bottom: 11px;
}

.form span {
    display: inline-block;
}

span.water {
    width: 400px;
}

.full {
    width: 100%;
}

.point {
    width: 300px;
}

/*contacts page*/

.contactsWrapper{
    height: 350px;
}

.contactsRow{
    margin-bottom: 10px;
}

.contactsBlock{
    margin-bottom: 20px;
}